*.dll
*.exp
*.map
*.sdf
*.exe
*.opensdf
.vs/
*.pdb
*.suo
*.user
*.aps

ipch/
build/
dependencies/protobuf/out
packages/

Debug/
Intermediate/
Release/

*.opendb
Thumbs.db

*.pb.cc
*.pb.h
*.VC.db
/logs
/common/generated/log.txt
/tests/*.log
/tools/scripts/.conf
/tools/scripts/__pycache__/*.pyc
/tests/*.hint
